* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body { 
 width: 100%;
 background: url(/img/bg-background.jpg) no-repeat center;
 background-position: fixed;
 color: white;
 }



h1,h2,h3,h4,h5,h6,p,a{
font-family: 'Barlow Condensed', sans-serif;
font-weight: 400;
}

h1 {
    font-size: 72px;
    line-height: 100%;
}

h2 {
    font-size: 56px;
    line-height: 110%;
}

h3 {
    font-size: 40px;
    line-height: 100%;
}

h4 {
    font-size: 32px;
    line-height: 120%;
}

h5 {
    font-size: 24px;
    line-height: 130%;
}

h6 {
    font-size: 18px;
    line-height: 140%;
}

a { 
    text-decoration: none;
}


.menu { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 52px 16px;
}

.link  {
    padding: 8px 24px;
    font-size: 24px;  
    transition:  .5s ease;  
    color: white;
}

.link:hover { 
   opacity: .8;
}

.container {
 max-width:1220px;
 margin: 0 auto;
 padding: 24px 16px;
 display: flex;
 justify-content: center;
 align-items: center;
}


.container-item:nth-child(1) { 
 flex-grow:1; 
 margin: 40px 0px ;
 
}

.container-item:nth-child(2) { 
   flex-grow:1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 40px 0px ;
}

.text-center { 
    text-align: center;
} 

.text-right { 
  text-align: right;
  margin-top: 72px;


}

.works {
    display: inline-block;
    margin-top: 64px;
    font-size: 24px;
    padding: 16px 24px;
    position: relative;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

.flex-end  {
    display: flex;
    justify-content: end;
    align-items: center;

}

.works::after { 
    content: ''; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 120px;
    height: 120px;
    background: linear-gradient(225deg, #3DA0BB 0% , rgba(0,0,0,.1));
    transform: translate(-0%, -18%) rotate(45deg);
    border-radius: 4px;
    border: 1px solid white;
    transition: .5s ease;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    position: relative; 
   
}

.about h3 { 
 margin-top: 20px;

}

.list{ 
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    position: relative;
}

.list-item{ 
    display: flex;
    justify-content: start;
    align-items: center;
    padding:24px;
    
}

.list-item a  {
    color: white;
}

.list-item h5 { 
    margin-left:24px;
}

.img-project{ 
    max-width: 720px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;

}


.get { 
    height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    position: relative;
    margin-top: 50px;
  

}





.bb-gray { 
  border-bottom:  1px solid gray;
  width: 100%;

}

.hero { 
    height: 90vh;
}

img {
    max-width:400px;
}


.border { 
    border: 1px solid blue;
}

@media screen and (max-width: 1200px ) {
.hero {
    height: auto;

}
}

@media screen and (max-width: 1200px ) {
    .container {
        flex-direction: column;
    
    }
    }