* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.foto-perfil {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
}


.btn-group  { 
  display: flex;
  gap:10px;
}
