@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* { 
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Inter', sans-serif;
 color: #FFFF;
 background-color: #151515;
}



header { 
 padding: 40px 180px;
}

header span { 
 color: #00D2DF;;
}

.menu ul { 
   display:flex;
   justify-content:flex-end;
   justify-items:flex-end;
   gap: 140px;
}

.menu ul li {
    list-style: none;
}

.container { 
   padding: 192px 180px;
}

.container h2,h3,h1 { 
  margin-bottom: 12px;
}

.container h2 { 
  font-size: 24px;
  line-height: 29px;
}

.container h1 { 
font-size: 64px;
line-height: 77px;
color: #00D2DF;

}

.container h3 { 
font-size: 24px;
line-height: 29px;
}

.btn-info { 
   display: flex;
   justify-content: flex-start;
   gap: 20px;
   margin-top: 81px;

}

.btn  { 
  padding: 8px 30px 8px 30px;
  border-radius: 5px;
  border: 1px solid #00D2DF;
  gap:20px;
}

.btn img {
   margin-right: 10px;
}

.container-about {
    margin-top:100px;
}


.container-about  { 
    margin-left: 180px; 
    display: flex;
    justify-content: flex-start;
    gap:500px;
}

.about-img img { 
   width: 300px;
   height: 300px; 
   border-left:solid 4px #00D2DF;

   
}

.about h4 { 
   margin-bottom: 20px;
   font-size: 24px;
   line-height: 29px;
}

.about p { 
margin-bottom: 20px;
}

.city { 
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
}

.about-profile { 
 font-weight:300;
 size:18px;
 line-height: 28px;
}



/* EXPERIENCIA */

#experiencia { 
   padding: 150px 0px 40px 180px ;
   display: flex;
   align-items: center;
}

.content-carrer { 
   display: flex;
   gap: 100px;
   align-items: center;
   
}

.left-carrer h2 { 
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 44px;
}

.left-carrer ul {
   display: flex;
   flex-direction: column;
   list-style-type: none;
 
}

.left-carrer li { 
   font-size: 20px;
   font-weight: 500;
   cursor: pointer; 
   display: flex;
   padding: 16px  32px;
   
}

.left-carrer li:nth-child(0) { 
   border-left: 2px solid #00D2DF;
   background-color: #212121;
}


.left-carrer li:hover { 
  border-left: 2px solid #00d2df;
  background-color: #212121;
    
}

.right-carrer { 
   display: flex;
   flex-direction: column;
   width: 100%;

}

.right-carrer .title-carrer { 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;

}

.right-carrer .title-carrer h2 { 
    font-size: 24px;
    font-weight: 500;
}

.right-carrer .title-carrer  span { 
   font-size: 18px;
   font-weight: 500;
}

.right-carrer .tag{
   font-size: 18px;
   font-weight: 500;
   line-height: 28px;
   margin-bottom: 26px;
   color: #00D2DF;
}

















