.container {
  width: 100%;
  max-width:1080px;
  padding: 15px;
  margin: 0 auto;
  color: white;
}

body { 
  background-color: $dark-color;
  overflow-y: scroll
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll

}


img { 
  display: block;
  width: 100%;
}



  


