 header {
  padding-top:2.625rem;
  background-color: $dark-color;
    .container { 
       @include flex(row,center,space-between) 
    }
     .text {
        span{
            font-family:"Inter";
            font-size: 1.5rem;
            line-height: 1.8125rem;
            line-height: 100%;
            color:$primary-color;
        }
     }
    nav {
      ul {
        @include flex (row,center,space-between) 
           
    }
      li{
        margin-right: 4.125rem;
        font-family: "Inter";
        font-size: 1.125rem;
        line-height: 1.375rem;
        line-height: 100%;
        color: $light-color;
      }  
  } 

  @include responsive (600px){
     header {
      .container{
        padding-left: 0.9375rem;
      }  
      .text{
        margin: 0 auto;
      }
     } 
     nav{
      display: none;
    }
  }

 }