.s-hero {
  color:$light-color;
  margin-top: 197px;
   .container {
     .text {
         h2 {
            margin-bottom: 12px;
            font-family:"Inter";
            font-style:Bold;
            font-size:24px;
            line-height:29px;
            line-height:100%;
            color:$light-color;
        }
         h1 {
            margin-bottom:12px;
            font-family:"Inter";
            font-style:Bold;
            font-size:64px;
            line-height:77px;
            line-height:100%;
            color: $primary-color;
        } 
         button {
           margin-top:64px;
          @include sytle-btns (45px,153px,$dark-color,$primary-color,$light-color)  
        }     
      }
    }
 @include responsive (360px){
    .container {
       padding-left: 1.25rem;
       .text {
         h1{
          font-size: 2rem;
         }
         h2{
          font-size: 1rem;
         }
        button {
          @include sytle-btns (40px,144px,$dark-color,$primary-color,$light-color);
          margin-top: 2.5rem;
        }
       }
    }


 }
}