.s-hero {
  color:$light-color;
   padding-top: 12.3125rem;
   padding-bottom: 12.5rem;
   .container {
     .text {
         h2 {
            margin-bottom: 12px;
            font-family:"Inter";
            font-style:Bold;
            font-size:24px;
            line-height:29px;
            line-height:100%;
            color:$light-color;
        }
         h1 {
            margin-bottom:12px;
            font-family:"Inter";
            font-style:Bold;
            font-size:64px;
            line-height:77px;
            line-height:100%;
            color: $primary-color;
        } 
         button {
           margin-top:4rem;
           margin-right: 1.5rem;
          @include sytle-btns (45px,153px,$dark-color,$primary-color,$light-color)  
        }     
      }
    }
 @include responsive (360px){
    .container {
       padding-left: 1.25rem;
       .text {
         h1{
          font-size: 2rem;
         }
         h2{
          font-size: 1rem;
         }
        button {
          @include sytle-btns (40px,144px,$dark-color,$primary-color,$light-color);
          margin-top: 2.5rem;
        
        }
       }
    }
 }
}

  .s-about {
    padding-top: 100px;
    padding-bottom:98px;    
    color: white;
    background-color:$black-section;   
     .container {
       @include flex(row,flex-start,space-between);
        .image { 
          img {
           width: 350px;
           height: 350px;  
            }
          }
            .content-text {
              h2 { 
               margin-bottom: 2.5rem;
               font-size: 2.25rem;
               font-style: bold;
               line-height: 100%;
              }
               h4{
                margin-bottom: 10px;
                font-size: 1.25rem;
               }
                p{
                width: 100%;
                max-width:530px;
                font-size: 1rem;
                font-style: light;
                line-height: 32px;
                color: $gray-light-color;
                }
                button{
                  margin-right: 1.5rem;
                  margin-top: 120px;

                  @include sytle-btns (45px,153px,$dark-color,$primary-color,$light-color) 

                }
                  
            
                }
              }
          } 
                 
    


        
      